<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>721903900140-tk7i66ckr59lak09olpe9fec3nh2m5bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721903900140-tk7i66ckr59lak09olpe9fec3nh2m5bk</string>
	<key>API_KEY</key>
	<string>AIzaSyCkG8zMo2grZqsq2TlnR9rwILWp3X4mqVs</string>
	<key>GCM_SENDER_ID</key>
	<string>721903900140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tapojit.HampHack</string>
	<key>PROJECT_ID</key>
	<string>hello-world-d1075</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-world-d1075.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:721903900140:ios:288473afca06227b</string>
	<key>DATABASE_URL</key>
	<string>https://hello-world-d1075.firebaseio.com</string>
</dict>
</plist>